body{
    width: 50%;
    border: 3px solid #ccc;
    margin: 20px;
    padding: 20px;
    background-blend-mode: blue;
    border-radius: 20px;
}
#n1 {
    width: 91%;
    background: aqua;
    padding: 10px;
}
#n2 {
    width: 91%;
    background: aqua;
    padding: 10px;
}
#res {
    width: 91%;
    background: aqua;
    padding: 10px;
}
input {
    width: 31%;
    background: aqua;
    padding: 10px;
}
